<%= form_for :user, url: "/login" do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Log In" %>
<% end %>
<br />
<p><%= link_to "Log in with Spotify", "/auth/spotify" %></p>

<p>Don't have an account? <%= link_to "Sign Up!", signup_path %></p>