<%= form_for @user, action: '/signup', method: 'post' do |f| %>
    <% if @user.errors.any? %>
        <div id="error-explanation">
        <h2>There were some errors:</h2>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

        
    <div id="field<%= ' field_with_errors' if @user.errors[:email].any? %>">
        <%= f.label :email %>
        <%= f.text_field :email %><br />
    </div>

    <div id="field<%= ' field_with_errors' if @user.errors[:username].any? %>">  
        <%= f.label :username %>
        <%= f.text_field :username %><br />
    </div>
      
    <div id="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
        <%= f.label :password %>
        <%= f.password_field :password %><br />
    </div>
       


    <%= f.submit "Sign Up" %>
<% end %>