<%= form_for @album do |f| %>
    <% if @album.errors.any? %>
        <div id="error-explanation">
            <h2>There were some errors:</h2>
            <ul>
             <% @album.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
             <% end %>
            </ul>
        </div>
    <% end %>

    <div id="field<%= ' field_with_errors' if @album.errors[:name].any? %>">
        <%= f.label :name, "Album Name" %>
        <%= f.text_field :name %>
    </div>

    <br />

    <div id="field<%= ' field_with_errors' if @album.errors[:artist_name].any? %>">
        <%= f.label :artist, "Artist's Name" %>
        <%= f.text_field :artist_name %>
    </div>

    <br />
    Genre:
    <div id="field<%= ' field_with_errors' if @album.errors[:genre].any? %>">
        <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "Select a genre" %>
    </div>

    <br />

    <%= new_or_edit?(f, @album) %>

    <br />

    <%= f.submit %>
<% end %>