<h2>Tracklist</h2>


<%= f.fields_for :songs, 10.times { album.songs.build } do |song_field| %>

    <div id="field<%= ' field_with_errors' if @album.errors[:songs].any? %>">

    <%= song_field.label :title %>
    <%= song_field.text_field :title %>
    <%= song_field.label :runtime %>
    <%= song_field.text_field :runtime %>
    <br /><br>
    

    <br />

<% end %>
</div>