<div class="container-lined">
    <h1><%= @album.name %></h1>
</div>

<div class="alb-header">
    <div class="alb-container">
        <div>by <%= link_to @album.artist_name, artist_path(@album.artist) %></div>
        <div><%= @album.genre.name %></div>
        <div>submitted by <%= link_to @user.username, user_path(@user) %></div>
    </div>
    <div class="img-container">
        <img src="<%= @album.img_url %>">
    </div>
</div>


<table class="tracklist">
    <tr>
      <th>Tracklist</th>
    </tr>
    <% @album.songs.each.with_index do |song, index| %>
    <tr>
      <td><%= (index+1) %></td>
      <td><%= link_to song.title, album_song_path(@album, song) %></td>
      <td><%= song.runtime %>
      <% if check_ownership(current_user, @album) %>       
        <td><%= link_to "Edit Song", edit_album_song_path(@album, song) %></td>
        <td><%= link_to "Delete Song", album_song_path(@album, song), method: :delete, data: { confirm: "This song will be deleted. Are you sure?" } %></td>
      <% end %>
    </tr>
        
    <% end %>
</table>

<% if check_ownership(current_user, @album) %>
<p><%= link_to "Delete Album", @album, method: :delete, data: { confirm: "This album will be deleted. Are you sure?"} %></p>

<p><%= link_to "Add Song", new_album_song_path(@album) %></p>
<% end %>
