<div class="album-show-alb-name">
    <h1><%= @album.name %></h1><br />
</div>
by
<div class="album-show-art-name">
    <h2><%= @album.artist.name %><h2><br />
</div>
<h3>Genre: <%= @album.genre.name %></h3><br />
<% @album.songs.each do |song| %>
    <div class="list-item">
        <%= link_to song.title, album_song_path(@album, song) %>
         |  <%= link_to "Edit", edit_album_song_path(@album, song) %>
         |  <%= link_to "Delete", album_song_path(@album, song), method: :delete, data: { confirm: "This song will be deleted. Are you sure?"} %>
    </div>
<% end %>

<p><%= link_to "Delete Album", @album, method: :delete, data: { confirm: "This album will be deleted. Are you sure?"} %></p>

<p><%= link_to "Add Song", new_album_song_path(@album) %></p>
