<div class="album-show-alb-name">
    <h1><%= @album.name %></h1><br />
</div>
by
<div class="album-show-art-name">
    <h2><%= @album.artist.name %><h2><br />
</div>
<%= @album.genre.name %><br />
<% @album.songs.each do |song| %>
    <div class="list-item">
        <%= link_to song.title, album_song_path(@album, song) %>
    </div>
<% end %>

<p><%= link_to "Add Song", new_album_song_path(@album) %></p>
