<div class="container-lined">
    <h1><%= @playlist.name %></h1>
</div>
<br>
<% if @playlist.songs.any? %>
<table>
    <tr>
        <th>Songs</th>
        <th></th>
        <th>⏱<%= @playlist.total_runtime %></th>
    </tr>
        <% @playlist.songs.each do |song| %>
        <tr>
            <td><%= song.title %></td>
            <td><%= song.artist_name %></td>
            <td><%= song.runtime %></td>
            <%= form_with(url: remove_pl_song_path, method: "post") do  %>
                <%= hidden_field_tag(:user_id, current_user.id) %>
                <%= hidden_field_tag(:id, @playlist.id) %>
                <%= hidden_field_tag(:song_id, song.id) %>
                <td><%= submit_tag("Remove") %></td>
            <% end %>

            
        </tr>
        <% end %>
    <% end %>
</table>

<h3><%= link_to "Edit Playlist", edit_user_playlist_path(current_user, @playlist) %></h3>
<h3><%= link_to "Add Songs", song_select_path(current_user, @playlist) %></h3>
<h3><%= link_to "Delete Playlist", user_playlist_path(current_user, @playlist), method: :delete, data: { confirm: "This playlist will be deleted. Are you sure?"} %></h3>
