<div class="header">
    <div class="title"><h1>Beats<br>ME</h1></div>
    <div class="navbar">
        <div class="nav-container">
            <div class="nav-item"><%= link_to "Home", root_path %></p></div>
        </div>

        <% if user_is_authenticated %>
            <div class="nav-container">
                <div class="nav-item"><%= link_to "My Profile", user_path(current_user) %></p></div>
            </div>
            <div class="nav-container">
                <div class="nav-item"><%= link_to "Log Out", controller: 'sessions', action: 'destroy' %></p></div>
            </div>
        <% else %>
            <div class="nav-container">
                <div class="nav-item"><%= link_to "Sign Up", signup_path %></p></div>
            </div>
            <div class="nav-container">
                <div class="nav-item"><%= link_to "Log In", login_path %></p></div>
            </div>
        <% end %>
    </div>
</div>
